.btn{
    height: 43px;
    width: 152px;
    border-width: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
    padding: 0;
}

.btn-primary{
    color: #0C80E8;
    background: transparent;         
}