body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  transition: 300ms !important;
}

p {
  padding: 0;
  margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6{
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  @media screen and (min-width: 1280px) {
    max-width: 1260px !important;
  }
}

.btn {
  box-shadow: none !important;
  border-radius: 9px !important;
}

.page-content {
  min-height: calc(100vh - #{$footerHeight});
  padding-top: 80px;

  .page-section {
    padding: 5% 0;

    .sec-heading {
      font-size: 36px;
      margin-bottom: 2%;
      font-weight: 700;
      position: relative;
      color: #222222;
    }
  }
}

.bg-light {
  background-color: $sectionColor !important;
}
