.about-mission{
    padding: 0;
    .mission_content{
        h4{
            font-size: 22px;
            font-weight: 700;
            line-height: 1.2;
            padding: 15px 0 10px;

        }
        p{
            padding: 0 0 15px;
        }
    }
}

.sideimg{
    img{
        
    }
}